/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    Margin-top: 10px;
    font-size: 3em;

}
html, body {
    height: 100%;
}

.Accords {
    Position: relative;
    top: 50px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #5B7065;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: relative;
    background-color: #5B7065;
    /*opacity: 0.3;*/
    /*margin-bottom: 20px;*/
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 39px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
#uitleg-text{
    z-index: 100000000;
    margin-top: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}
.scene-text{
    color: #000000;
}
